body{
	font-family: 'Montserrat', "Noto Sans CJK TC DemiLight", "微軟正黑體", sans-serif;
	/*color: #8C734B;*/
}
nav{
	background-color: #FFF;
}
.card{
	padding: 0;
}
#dropdown .nav-link-item{
	color: #000;
}
.jumbotron{
	color: #FFF;
	background-size: cover;
	background-position: bottom;
	overflow: hidden;
	position:relative;
	height: 50vh;
	border-radius: 0;
}
.emptyCategory{
	height: 200px;
	line-height: 200px;
}
#newsJumbotron{
	background-image: url('../images/index/index.jpg');
}
#northJumbotron{
	background-image: url('../images/index/northJumbotron.jpg');
}
#centerJumbotron{
	background-image: url('../images/index/centerJumbotron.jpg');
}
#southJumbotron{
	background-image: url('../images/index/southJumbotron.jpg');
}
#eastJumbotron{
	background-image: url('../images/index/eastJumbotron.jpg');
}
#islandJumbotron{
	background-image: url('../images/index/islandJumbotron.jpg');
}

#footer{
	margin-bottom: 0;

}
.articleCard{
	height: 400px;
	overflow: hidden;
	padding-bottom: 12px;
}
/* list */
#listBox{
	border: 2px solid #F7F7F7;
	border-radius: 5px;
	padding: 12px;
	margin-bottom: 18px;
}
/* -- */
/* personal */
#userDetailBox{
	border: 2px solid #F7F7F7;
	border-radius: 5px;
	padding: 12px;
	margin-bottom: 18px;
}
#userImage{
	border-radius: 5px;
}
/* -- */
/* article */
.articleTitle{
	/*padding-left: 24px;*/
}
.articleBody img{
	border-radius: 5px;
	padding: 12px;
}
.articleBody {
	padding-top: 16px;
	font-size: 18px;
	line-height: 36px;
	text-align: justify;
	text-justify:inter-ideograph;

}
.schedule{
	padding: 24px 12px 12px 12px; 
}
#articleJumbotron{
	height: 600px;
	background-size: cover;
	background-position: center;
}
#carousel{
	height: 600px;
	background-color: #000;

}
.carousel-item img{
	margin: auto;
	height: 100%;
}

.breadcrumb{
	background-color: #FFF;
}

/* -- */


/* login, Register */
#loginJumbotron, #registerJumbotron{
	background-image: url('../images/index/index.jpg');
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	min-height: 100vh;
	margin-bottom: 0;
}
#loginJumbotron a, #registerJumbotron a{
	color: #000;
}
#formBox{
	color: #000;
	background-color: #FFFFFF;
	padding: 36px 24px 36px 24px;
	border-radius: 4px;
}
/* editor */

.tab-pane{
	border: 1px solid #DEE2E6;
 
	padding: 24px;

}
.imgBox{
	border: 1px solid #DEE2E6;
	padding: 0;
	padding: 6px;
	border-radius: 4px;
}

.breadcrumb{
	background-color: none;
}
/* -- */
